@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Nunito:wght@500&family=Roboto:wght@300;400;500;600;700&display=swap");

* html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
	background-color: #e84393;
	background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
}

.gradient-bg-services {
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.gradient-bg-transactions {
	background-color: #e84393;
	background-image: linear-gradient(315deg, #e84393 0%, #000000 74%);
}

.gradient-bg-footer {
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.pink-glassmorphism {
	background: #00000080;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 16px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
	background-color: #2d3436;
	background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.button {
	background-color: #000000;
	background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.button:hover {
	background-color: #e84393;
	background-image: none;
    transition: background-color 200ms linear;
}


.text-gradient {
	background-color: #fff;
	background-image: radial-gradient(
			at 4% 36%,
			hsla(0, 0%, 100%, 1) 0,
			transparent 53%
		),
		radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
